body {
  margin: 0;
  background-color: #232323;
  color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

#content {
  min-height: 100vh;
  min-width: 100vw;
}

#content #leftbar {
  position: fixed !important;
  height: 100%;
  width: 50px;
  z-index: 1;
  overflow: auto;
  color: #fafafa;
  background-color: #323232 !important;
}

#content #leftbar button {
  background-color: transparent;
  display: block;
  border: none;
  cursor: pointer;
}

#content #leftbar button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#content #leftbar button:focus {
  outline: none;
}

#content #list {
  position: fixed !important;
  margin-left: 50px;
  height: 100%;
  width: 300px;
  z-index: 1;
  overflow: auto;
  color: #fafafa;
  background-color: #232323 !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#content #list #list-title {
  background-color: #616161 !important;
}

#content #list #list-title span {
  float: right;
  cursor: pointer;
  padding: 2px;
}

#content #list #list-title span:hover {
  color: red;
}

#content #list ul {
  margin: 0px;
  font-size: 12px;
  list-style-type: none;
  padding: 0px 2px 0px 5px;
}

#content #list ul li {
  cursor: pointer;
}

#content #list ul li.file:hover {
  background-color: #4caf50;
}

#content #list ul ul li {
  padding: 0px 0px 0px 10px;
}

#content #main {
  margin-left: 350px;
  transition: margin-left .2s;
  height: 100vh;
  background-color: #fafafa;
}

#content #main .editor {
  padding: 0.01em 16px;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  font-size: 14px;
}

#content #main .editor #ed_title {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  border: none;
  background-color: #fafafa;
  padding: 2px 0px 5px 0px;
}

#content #main .editor #ed_title::placeholder {
  opacity: .35;
}

#content #main .editor #ed_title:focus {
  outline: none;
}
